<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SeleniumPracticeSuite">
    <test name="FaceBookLogin">
        <classes>
            <class name="Selenium1FirstTest" />
        </classes>
    </test>
    <test name="RadioButtonsTest">
        <classes>
            <class name="Selenium2RadioButtons" />
        </classes>
    </test>
    <test name="CheckBoxesTest">
        <classes>
            <class name="Selenium3CheckBoxes" />
        </classes>
    </test>
    <test name="DropDownSingleTest">
        <classes>
            <class name="Selenium4DropDownSingle" />
        </classes>
    </test>
    <test name="DropDownMultipleTest">
        <classes>
            <class name="Selenium5DropDownMultiple" />
        </classes>
    </test>
    <test name="DropdownBootstrap">
        <classes>
            <class name="Selenium6DropDownBootStrap" />
        </classes>
    </test>
    <test name="VerifyErrorText">
        <classes>
            <class name="Selenium7VerifyErrorText" />
        </classes>
    </test>
    <test name="ToolTipSimple">
        <classes>
            <class name="Selenium8ToolTipSimple" />
        </classes>
    </test>
    <test name="ToolTipsJQuery">
        <classes>
            <class name="Selenium9ToolTipsJQuery" />
        </classes>
    </test>
    <test name="ClickImage">
        <classes>
            <class name="Selenium10ClickImage" />
        </classes>
    </test>
    <test name="LinkText">
        <classes>
            <class name="Selenium11LinkText" />
        </classes>
    </test>
    <test name="PartialLinkText">
        <classes>
            <class name="Selenium12PartialLinkText" />
        </classes>
    </test>

</suite>